/*#CSS styles for term project by John Schmitt*/

body {
  background-color: #FOF38D;
  margin: 0;
}
#top {
  Background-color: #00A896;
}
h1 {
  text-align: center;
  font-size:3rem
  color: #04415A;
}

.redtext {
  color:#00A896
}
blockquote {
  margin-left: 5rem
  border-left: 1rem solid #028090
}
blockquote p {
  margin-left: 1rem}
cite{
  border-left: 1rem solid #028090}
